<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.delareez">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckoutOrder"
            android:label="@string/check"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".CreateMenu"
            android:label="Add New Menu"
            android:theme="@style/OtherPages" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MenuDetail"
            android:label="Menu Detail"
            android:theme="@style/OtherPages" />
        <activity android:name=".OrderActivity" />
        <activity
            android:name=".Cart"
            android:label="Cart"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".customerProfile"
            android:label="Profile"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".staffProfile"
            android:label="Profile"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".UpdateOrderStatus"
            android:label="Update Order"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".OrderPayment"
            android:label="Payment Status"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".orderArchive"
            android:label="Order Archive"
            android:theme="@style/OtherPages" />
        <activity
            android:name=".orderHistory"
            android:label="Order History"
            android:theme="@style/OtherPages" />
        <activity android:name=".AddStaff"
            android:label="Add New Staff"
            android:theme="@style/OtherPages"/>
    </application>

</manifest>